/* .App {
  text-align: center;
  background-image: url("./Images/HomepageBackground.jpg");
  background-size: cover;
} */
.backGround{
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  opacity: 1;
  background-image:url('./Images/HomepageBackground.jpg');
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  min-height: 100vh;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
} */

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Main Page Design */
/* .backGround{
  background: transparent url('Images/HomepageBackground.jpg') 0% 0% no-repeat padding-box;
  opacity: 1;
} */
.nav{
background-color: black !important;
top: 0px;
left: 0px;
width: 1920px;
height: 56px;
background: #100F19 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
font-family: 'Share Tech Mono', monospace;
}
.navLink{
  margin-right: 5%;
  color: #FFFFFF;
  font-family: 'Share Tech Mono', monospace;
}
.fixed-bottom{
  margin-top: 85px;
  color: #FFFFFF;
  font-family: 'Share Tech Mono', monospace;
  text-align: center !important;
  letter-spacing: 0px;
  display : flex;
  justify-content: center;
  border-radius: 4px;
  opacity: 1;
  display: inline-block;
}
.smallLogo{
padding-right: 5% !important;
top: 10px;
left: 20px !important;
width: 39px;
height: 38px;
border-radius: 30px;
opacity: 1;
}